@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0px;
  padding: 0px;
}

body{
  box-sizing: border-box;
  background: linear-gradient(to right, #85D8CE, #9963E9);


  font-family: 'Poppins', sans-serif;


}



